{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
<div class="blog">
  <h1>{{ .Title }}</h1>
  <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  <p>
    {{ if .Params.categories }}
      {{ range $index , $category := .Params.categories }}
        <a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ $category }}</a>
      {{ end }}
    {{ end }}
    {{if .Params.tags }}
      {{ range $index , $tag := .Params.tags }}
        <a href="{{ $baseurl }}tags/{{ . | urlize }}">#{{ $tag }}</a>
      {{ end }}
    {{ end }}        
  </p>
  {{ .Content }}
</div>
{{ if eq .Type "post" }}
  <br/><br/>
  <div class="pagination">
    {{ if .Prev }}<a class="prev" href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>{{ else }}<a></a>{{ end }}
    {{ if .Next }}<a class="next" href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>{{ else }}<a></a>{{ end }}
  </div>
{{ end }}
{{ partial "footer.html" . }}