<!DOCTYPE html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">

  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" rel="stylesheet" type="text/css">

  {{ partial "css.html" . }}

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
</head>
<body class="home">
{{ with .Site.GoogleAnalytics }}
<amp-analytics type="googleanalytics" id="analytics-ga">
  <script type="application/json">
  {
    "vars": {
      "account": "{{ . }}"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      }
    }
  }
  </script>
</amp-analytics>
{{ end }}
<amp-sidebar id='sidebar' side='right' layout='nodisplay'>
  <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
  <nav>
    <ul>
      <li>
        <ul>
          {{ $url := lower .Permalink}}
          {{ range .Site.Menus.header }}
            <li class="{{ if eq (len (findRE (lower .URL) $url)) 1 }}is-active{{ end }}"><a class="tab desktop" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
    </ul>
    {{ with .Site.Social }}
      <div class="language desktop">
        <amp-accordion>
          <section>
            <h6 class="current">
              <a class=""><span>SOCIAL</span></a>
            </h6>
            <div class="others">
              {{ with .github }}
                <div><a href="https://github.com/{{ . }}" class=""><span>GITHUB</span></a></div>
              {{ end }}
              {{ with .twitter }}
                <div><a href="https://twitter.com/{{ . }}" class=""><span>TWITTER</span></a></div>
              {{ end }}
              {{ with .facebook }}
                <div><a href="https://facebook.com/{{ . }}" class=""><span>FACEBOOK</span></a></div>
              {{ end }}
              {{ with .gplus }}
                <div><a href="https://plus.google.com/+{{ . }}" class=""><span>GOOGLE+</span></a></div>
              {{ end }}
              {{ with .linkedin }}
                <div><a href="https://www.linkedin.com/in/{{ . }}" class=""><span>LINKEDIN</span></a></div>
              {{ end }}
            </div>
          </section>
        </amp-accordion>
      </div>
    {{ end }}
  </nav>
</amp-sidebar>
<header class="header fixed">
  <div class="wrap">
    <div class="container">
      <div class="nav-container">
         <div class="left-nav">
            <a href="/" class="tab header-title">
              <span>{{ .Site.Title }}</span>
            </a>
        </div>
        <div class="right alt">
          {{ range .Site.Menus.header }}
            <a class="tab desktop" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          {{ with .Site.Social }}
            <div class="language desktop">
              <amp-accordion>
                <section>
                  <h6 class="current">
                    <a class=""><span>SOCIAL</span></a>
                  </h6>
                  <div class="others">
                    {{ with .github }}
                      <div><a href="https://github.com/{{ . }}" class=""><span>GITHUB</span></a></div>
                    {{ end }}
                    {{ with .twitter }}
                      <div><a href="https://twitter.com/{{ . }}" class=""><span>TWITTER</span></a></div>
                    {{ end }}
                    {{ with .facebook }}
                      <div><a href="https://facebook.com/{{ . }}" class=""><span>FACEBOOK</span></a></div>
                    {{ end }}
                    {{ with .gplus }}
                      <div><a href="https://plus.google.com/+{{ . }}" class=""><span>GOOGLE+</span></a></div>
                    {{ end }}
                    {{ with .linkedin }}
                      <div><a href="https://www.linkedin.com/in/{{ . }}" class=""><span>LINKEDIN</span></a></div>
                    {{ end }}
                  </div>
                </section>
              </amp-accordion>
            </div>
          {{ end }}
          <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="wrap">
  <div class="content">
    <section class="blade blade--blog">
      <div class="container">
